.animelist>.col-lg-2, .col-md-3, .col-sm-4, .col-6 {
    padding: 0;
    display: flex;
}

body {
    min-height: 100vh;
}
.animelist {
    margin-bottom: 5rem;
}
.card {
    width: 100%;
}
.card-img-top {
    width: 100%;
    height: 20em;
    object-fit: cover;
}
.card-img-top.lagoinfo-card-img {
    width: 100%;
    height: 20em;
    object-fit: contain;
}
.card-img-top.nothing-img {
    width: 100%;
    height: 20em;
    object-fit: contain;
    opacity: 0.5
}
.card-title {
    margin-bottom: 0;
    width: 100%;
}
.card-body {
    padding: 0.5em;
    height: 100%;
    align-items: stretch;
    line-height: 1;
}

h5, h6, ul {
    margin-bottom: 0.2em;
}
.badge {
    line-height: normal;
}
.annict-logo {
    height: 1.2em;
}
a:link, a:visited {
    color: #222222;
    font-weight: 350;
    text-decoration: none;
}
.list-unstyled.staff, .list-unstyled.animation {
    font-size: smaller;
}

.streaming-services {
    margin-top:auto
}
.streaming-service-active {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
}
.streaming-service-inactive {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    opacity: 0.1
}

.footer-content {
    margin-top: 1rem;
}
.logo-image {
    width: 5em;
    height: 5em;
}
li {
    list-style: none;
}